.dropdown
{
    position: relative;    
    
    &.dropdown-xs
    {
        > .dropdown-toggle
        {
            > .caption
            {
                font-size: $font-size-xs;
            }
                
            .icon
            {
                width: $icon-size-xs !important;
                height: $icon-size-xs !important;
            }
        }

        .dropdown-menu
        {
            .dropdown-item
            {
                font-size: $font-size-xs;
            }
        }
    }

    &.dropdown-sm
    {
        > .dropdown-toggle
        {
            > .caption
            {
                font-size: $font-size-sm;
            }
                
            .icon
            {
                width: $icon-size-sm !important;
                height: $icon-size-sm !important;
            }
        }

        .dropdown-menu
        {
            .dropdown-item
            {
                font-size: $font-size-sm;
            }
        }
    }

    &.dropdown-lg
    {
        > .dropdown-toggle
        {
            > .caption
            {
                font-size: $font-size-xl;
            }

            .icon
            {
                width: $icon-size-lg !important;
                height: $icon-size-lg !important;
            }
        }

        .dropdown-menu
        {
            .dropdown-item
            {
                font-size: $font-size-xl;
            }
        }
    }

    > .dropdown-toggle
    {        
        @include formControl;    
        display: flex;        
        flex-direction: row;

        > .caption
        {
            width: auto !important;
            flex: 1;
            text-align: left;
        }

        > .icon
        {
            margin-left: auto;
            justify-self: flex-end;
        }
    }
}
    
.dropdown-menu
{
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 9999;
    pointer-events: auto;
    background-color: getColour("grey", "dark");
    @include borderAll($input-border-colour, $input-border-thickness);
    border-top-width: 0 !important;
    opacity: 1;
    transition: opacity 0.2s linear;
    pointer-events: auto;

    &.dropdown-menu-up
    {        
        border-top-width: $input-border-thickness !important;
        border-bottom-width: 0 !important;
    }

    &.hidden
    {
        opacity: 0;
        pointer-events: none;

        *
        {
            pointer-events: none !important;
        }
    }

    .dropdown-item
    {
        @include paddingAll($input-padding-h, $input-padding-v);
        color: map-get($text-colours, "grey");
        text-align: left;
        font-size: $font-size-lg;
        font-family: $font-family-sans-serif;
        white-space: nowrap;
        letter-spacing: normal;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        text-transform: none;

        &:hover
        {            
            background-color: getColour("grey", "base");
        }
    }

    &.dropdown-menu-xs
    {
        .dropdown-item
        {
            font-size: $font-size-xs;
        }
    }

    &.dropdown-menu-sm
    {
        .dropdown-item
        {
            font-size: $font-size-sm;
        }
    }

    &.dropdown-menu-lg
    {
        .dropdown-item
        {
            font-size: $font-size-lg;
        }
    }
}

.faux-dropdown-menu
{
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 9999;
    pointer-events: auto;
    background-color: getColour("grey", "dark");
    @include borderAll($input-border-colour, $input-border-thickness);
    border-top-width: 0 !important;

    > .dropdown-item
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        @include paddingAll($input-padding-h, $input-padding-v);
        color: map-get($text-colours, "grey");
        text-align: left;
        font-size: $font-size-lg;
        font-family: $font-family-sans-serif;
        white-space: nowrap;
        letter-spacing: normal;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        text-transform: none;

        &:hover
        {            
            background-color: getColour("grey", "base");
        }
    }

    &.dropdown-menu-xs
    {
        .dropdown-item
        {
            font-size: $font-size-xs;
        }
    }

    &.dropdown-menu-sm
    {
        .dropdown-item
        {
            font-size: $font-size-sm;
        }
    }

    &.dropdown-menu-lg
    {
        .dropdown-item
        {
            font-size: $font-size-lg;
        }
    }
}