@mixin generateColumn()
{
    flex: 1;
    margin-right: map-get($spacers, "1");
    margin-left: map-get($spacers, "1");
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    &:first-child 
    {
        margin-left: 0 !important;
    }

    &:last-child 
    {
        margin-right: 0 !important;
    }
}

@mixin generateColumns($num-cols: 12) 
{
    @for $i from 1 through $num-cols 
    {
        $width: calc(100% / $num-cols * $i);

        > .col-#{$i} 
        {
            @include generateColumn;
            width: $width;
        }
    }
    
    &.no-gutter
    {
        @for $i from 1 through $num-cols 
        {
            $width: calc(100% / $num-cols * $i);

            > .col-#{$i} 
            {
                margin-left: 0;
                margin-left: 0;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
}

.row 
{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-right: 0;
    margin-left: 0;

    &.no-gutter
    {
        margin-right: 0;
        margin-left: 0;
    }

    @include generateColumns;
}