.gooee
{
    .list
    {     
        //display: block;
        //width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
        margin-bottom: 0;
        width: 100% !important;

        
        > .list
        {
            margin-bottom: 0 !important;
            margin-left: map-get($spacers, "5") !important;
            width: 100% !important;
        }

        &.list-ordered
        {
            > .list-item
            {
                position: relative;
                padding-left: 35rem !important;

                > .list-item-prepend
                {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 35rem !important;
                    margin-left: -35rem !important;
                    height: 100%;
                }
            }
        }
    }

    .list-item
    {            
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        padding-bottom: map-get($spacers, "4") !important;
        flex-wrap: wrap;
        width: 100%;

        > p
        {
            margin-bottom: 0 !important;
        }
        
        > .list-item-prepend
        {
            @for $i from 1 through 10
            {
                &.list-item-depth-#{$i}
                {
                    margin-left: calc(10rem * $i);
                    margin-right: 10rem;
                }
            }
        }

        &:last-child
        {
            margin-bottom: 0 !important;
        }

        > *
        {
            display: inline;
            width: auto !important;
        }

        b
        {
            display: inline;
        }
    }

}