:root
{    
    --gProgressBarForeground: #{$progress-bar-color};
    --gProgressBarBackground: #{$progress-bar-bg-color};
    --gProgressBarTextForeground: #{$light};
    --gProgressBarBorderColor: #{$progress-bar-border-color};
}

.gooee
{
    .progress-bar
    {
        > .progress-container
        {
            flex: 1;
            display: flex;
            position: relative;
            box-shadow: $box-shadow;
            align-items: center;
            background-color: var(--gProgressBarBackground);
            @include borderRadius($progress-bar-border-radius);
            @include borderAll(var(--gProgressBarBorderColor), $border-thickness);
            transition: border 0.5s ease-out, background-color 0.5s ease-out;
            @include panelBlur;

            > .progress
            {
                background-color: var(--gProgressBarForeground);
                transition: background-color 0.5s ease-out; 
                @include borderRadius($progress-bar-border-radius);
            }

            > .progress-label
            {
                @include absoluteFill;
                opacity: 1;
                font-weight: bold;
                font-size: $progress-bar-font-size;
                text-shadow: $text-shadow;
                transition: opacity 0.5s ease-out;

                > span
                {
                    color: var(--gProgressBarTextForeground);
                }

                &.hidden
                {
                    opacity: 0;
                }
            }
        }

        &.horizontal
        {
            > .progress-container
            {
                height: $progress-bar-thickness;
                width: 100%;
                overflow-x: hidden;
                flex-direction: row;
                flex-wrap: wrap;

                > .progress
                {                
                    height: 100%;
                    width: initial;
                    transition: width 0.5s ease-out, background-color 0.5s ease-out;
                }

                > .progress-label
                {
                    height: 100%;
                    overflow-x: hidden;

                    > span
                    {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }

        &.vertical 
        {
            > .progress-container
            {
                width: $progress-bar-thickness;
                height: 100%;
                flex-direction: column-reverse;

                > .progress
                {                
                    width: 100%;
                    height: initial;
                    transition: height 0.5s ease-out, background-color 0.5s ease-out;
                }

                > .progress-label
                {
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        @each $key in $button-colours 
        {
            $foreground: getColour($key, "trans");
            $background: getColour($key, "trans-less-faded");
            $textForeground: map-get($text-colours, $key);

            &.progress-bar-#{$key}
            {
                --gProgressBarForeground: #{$foreground};
                --gProgressBarBackground: #{$background};
                --gProgressBarBorderColor: #{$foreground};
            }
        }

        &.progress-bar-alert
        {
            --gProgressBarForeground: #{$progress-bar-alert-color};
            --gProgressBarBackground: #{$progress-bar-alert-bg-color};
            --gProgressBarBorderColor: #{$progress-bar-alert-border-color};

            > .progress-container
            {
                animation: ProgessBarAlertContainer 4s linear infinite;            
                transition: none !important;
                /*background-color: $progress-bar-alert-bg-color;
                border-left-color: $progress-bar-alert-border-color;
                border-right-color: $progress-bar-alert-border-color;
                border-top-color: $progress-bar-alert-border-color;
                border-bottom-color: $progress-bar-alert-border-color;

                > .progress
                {
                    background-color: $progress-bar-alert-color;
                }

                > .progress-label > span
                {
                    color: $progress-bar-alert-text-color;
                    text-shadow: $text-shadow-solid;
                }*/
            }
        }
    }

    .progress-bar-group
    {
        display: flex;
        align-items: flex-start;

        &.horizontal
        {
            flex-direction: column;

            > .progress-bar
            {
                margin-bottom: map-get($spacers,"1");

                &:last-child
                {
                    margin-bottom: 0 !important;
                }
            }
        }

        &.vertical
        {
            flex-direction: row;
            width: auto !important;

            > .progress-bar
            {
                width: initial;
                margin-right: map-get($spacers,"1");

                &:last-child
                {
                    margin-right: 0 !important;
                }
            }
        }
    }
}

@keyframes ProgessBarAlertContainer
{
    0%
    {
    }

    50% 
    {
        border-left-color: $progress-bar-alert-border;
        border-right-color: $progress-bar-alert-border;
        border-top-color: $progress-bar-alert-border;
        border-bottom-color: $progress-bar-alert-border;
    }

    100%
    {
    }
}