.cv-tooltip
{
    position: absolute;
    display: flex;
    transition: opacity 0.2s ease-out;
    transition-delay: 0.2s;
    z-index: 999;
    min-width: 150rem;
    opacity: 1;
    pointer-events: auto;
  
    &.hidden
    {
        opacity: 0;
        pointer-events: none;
    }

    &.inline
    {
        width: auto;
    }   

    > .bounds__AO 
    {
        display: flex;
        transition: opacity 0.2s ease-out;
        transition-delay: 0.2s;
    }
    
    /* Position styles */
    &.up-left
    {
        left: 0;
        right: inherit;
        top: inherit;
        bottom: 100%;
    }

    &.up-center
    {
        left: inherit;
        right: inherit;
        top: inherit;
        bottom: 100%;
        padding-left: calc(0.5 * var(--arrowSize));
        padding-right: calc(0.5 * var(--arrowSize));
    }

    &.up-right
    {
        left: inherit;
        right: 50%;
        top: inherit;
        bottom: 100%;
    }

    &.down-left
    {
        left: 50%;
        right: inherit;
        top: 100%;
        bottom: inherit;
    }

    &.down-right
    {
        left: inherit;
        right: 50%;
        top: 100%;
        bottom: inherit;
    }

    &.left-left
    {
        left: inherit;
        right: 100%;
        top: 0;
        bottom: inherit;
    }

    &.left-right
    {
        left: 100%;
        right: inherit;
        top: 0;
        bottom: inherit;
    }

    &.right-left
    {
        left: 100%;
        right: inherit;
        top: 0;
        bottom: inherit;
    }

    &.right-right
    {
        left: 100%;
        right: inherit;
        top: 0;
        bottom: inherit;
    }
}