@mixin generatePaddingUtilities
{
  @each $key, $value in $spacers 
  {
    .p-#{$key} 
    { 
        padding-top: $value !important; 
        padding-bottom: $value !important; 
        padding-left: $value !important; 
        padding-right: $value !important; 
    }

    .pt-#{$key} 
    { 
        padding-top: $value !important;
    }

    .pb-#{$key} 
    { 
        padding-bottom: $value !important;
    }

    .pl-#{$key} 
    { 
        padding-left: $value !important; 
    }

    .pr-#{$key} 
    { 
        padding-right: $value !important; 
    }

    .px-#{$key} 
    { 
        padding-left: $value !important; 
        padding-right: $value !important; 
    }

    .py-#{$key} 
    { 
        padding-top: $value !important; 
        padding-bottom: $value !important; 
    }
  }
}

@include generatePaddingUtilities;