.p-relative
{ 
    position: relative;
}

.p-absolute
{ 
    position: absolute;
}

.p-fixed
{ 
    position: fixed;
}

.p-top-0
{
    top: 0;
}

.p-left-0
{
    left: 0;
}

.p-right-0
{
    right: 0;
}

.p-bottom-0
{
    bottom: 0;
}

.p-top-100
{
    top: 100%;
}

.p-left-100
{
    left: 100%;
}

.p-right-100
{
    right: 100%;
}

.p-bottom-100
{
    bottom: 100%;
}