.w-x
{
    width: auto !important;
}

.h-x
{
    height: auto !important;
}

.w-0
{
    width: 0 !important;
}

.h-0
{
    height: 0 !important;
}

@each $key in $percent-sizes
{    
    $percent: $key + "%";

    @if ($key == "33")
    {
        $percent: "33.33333333%"
    }

    .w-#{$key}
    {
        width: #{$percent} !important;
    }

    .h-#{$key}
    {
        height: #{$percent} !important;
    }

    .min-w-#{$key}
    {
        min-width: #{$percent} !important;
    }

    .min-h-#{$key}
    {
        min-height: #{$percent} !important;
    }

    .max-w-#{$key}
    {
        max-width: #{$percent} !important;
    }

    .max-h-#{$key}
    {
        max-height: #{$percent} !important;
    }
}


@each $key in $percent-sizes
{    
    $percent: $key;

    @if ($key == "33")
    {
        $percent: "33.33333333"
    }

    .vw-#{$key}
    {
        width: #{$percent}vw !important;
    }

    .vh-#{$key}
    {
        height: #{$percent}vh !important;
    }

    .min-vw-#{$key}
    {
        min-width: #{$percent}vw !important;
    }

    .min-vh-#{$key}
    {
        min-height: #{$percent}vh !important;
    }

    .max-vw-#{$key}
    {
        max-width: #{$percent}vw !important;
    }

    .max-vh-#{$key}
    {
        max-height: #{$percent}vh !important;
    }
}