.text-left 
{ 
    text-align: left;
}

.text-right 
{ 
    text-align: right;
}

.text-center 
{ 
    text-align: center;
}

.text-lowercase
{
    text-transform: lowercase;
}

.text-uppercase
{
    text-transform: uppercase;
}

.text-capitalize
{
    text-transform: capitalize;
}

.fw-normal
{
    font-weight: normal;
}

.fw-bold
{
    font-weight: bold;
}

@mixin fontSizeUtilities 
{
    @each $size-name, $size-value in $font-sizes 
    {
        .fs-#{$size-name} 
        {
            font-size: $size-value;
        }
    }
}

@include fontSizeUtilities;

.gooee
{
    hr
    {
        display: block;
        @include borderBottom(getColour("light", "trans-less-faded"), $border-thickness);
        margin-top: map-get($spacers, "5");
        margin-bottom: map-get($spacers, "5");
    }
}

.inline-content
{
    @include inlineContent;
}